.auth-page {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-page__auth-button {
  position: relative;
  padding: 2rem 1.4rem;
  font-size: 1.4em;
  outline: none;
  border: none;
  background: none;
}

.auth-page__button-bg {
  border-radius: 20px;
  box-shadow: -5px 5px 6px 0 #282c34;
  border: 1px solid #282c34;
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffb76b 0%, #ffa73d 30%, #ff7c00 60%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #ffb76b 0%,#ffa73d 30%,#ff7c00 60%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #ffb76b 0%,#ffa73d 30%,#ff7c00 60%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  transition: all .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.auth-page__auth-button:hover .auth-page__button-bg {
  filter: blur(1px);
}



.auth-page__button-text {
  position: relative;
  z-index: 2;
}
